@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Custom "The Sorter" Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f852ad; /* Accented scroll on hover */
}

/* Typography Utilities */
@layer components {
  .heading-heavy {
    @apply font-black uppercase tracking-tighter;
  }
  
  .meta-label {
    @apply text-[10px] font-bold uppercase tracking-widest text-zinc-500;
  }

  .glass-card {
    @apply bg-zinc-900/50 border border-zinc-800 backdrop-blur-sm;
  }
}